--
-- PostgreSQL database dump
--

\restrict VTmm3BmB5vXZz7UDpLwMbqc4b0PvnRTTv1bEW6qzphQiaqhdySWQlo6YczYk8yo

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."Likes" DROP CONSTRAINT IF EXISTS "FK_Likes_Posts_PostId";
ALTER TABLE IF EXISTS ONLY public."Likes" DROP CONSTRAINT IF EXISTS "FK_Likes_Comments_CommentId";
ALTER TABLE IF EXISTS ONLY public."GroupPosts" DROP CONSTRAINT IF EXISTS "FK_GroupPosts_Posts_PostId";
ALTER TABLE IF EXISTS ONLY public."GroupPosts" DROP CONSTRAINT IF EXISTS "FK_GroupPosts_Groups_GroupId";
ALTER TABLE IF EXISTS ONLY public."GroupMembers" DROP CONSTRAINT IF EXISTS "FK_GroupMembers_Groups_GroupId";
ALTER TABLE IF EXISTS ONLY public."Comments" DROP CONSTRAINT IF EXISTS "FK_Comments_Posts_PostId";
ALTER TABLE IF EXISTS ONLY public."Comments" DROP CONSTRAINT IF EXISTS "FK_Comments_Comments_ParentCommentId";
DROP INDEX IF EXISTS public."IX_Posts_UserId";
DROP INDEX IF EXISTS public."IX_Posts_IsPublic";
DROP INDEX IF EXISTS public."IX_Posts_IsPinned";
DROP INDEX IF EXISTS public."IX_Posts_Hashtags";
DROP INDEX IF EXISTS public."IX_Posts_CreatedAt";
DROP INDEX IF EXISTS public."IX_Likes_UserId_PostId";
DROP INDEX IF EXISTS public."IX_Likes_UserId_CommentId";
DROP INDEX IF EXISTS public."IX_Likes_PostId";
DROP INDEX IF EXISTS public."IX_Likes_CommentId";
DROP INDEX IF EXISTS public."IX_Groups_OwnerId";
DROP INDEX IF EXISTS public."IX_Groups_IsPublic";
DROP INDEX IF EXISTS public."IX_Groups_IsActive";
DROP INDEX IF EXISTS public."IX_Groups_CreatedAt";
DROP INDEX IF EXISTS public."IX_GroupPosts_PostId";
DROP INDEX IF EXISTS public."IX_GroupPosts_GroupId_PostId";
DROP INDEX IF EXISTS public."IX_GroupPosts_GroupId";
DROP INDEX IF EXISTS public."IX_GroupPosts_CreatedAt";
DROP INDEX IF EXISTS public."IX_GroupMembers_UserId";
DROP INDEX IF EXISTS public."IX_GroupMembers_Role";
DROP INDEX IF EXISTS public."IX_GroupMembers_GroupId_UserId";
DROP INDEX IF EXISTS public."IX_GroupMembers_GroupId";
DROP INDEX IF EXISTS public."IX_Follows_FollowingId";
DROP INDEX IF EXISTS public."IX_Follows_FollowerId_FollowingId";
DROP INDEX IF EXISTS public."IX_Follows_FollowerId";
DROP INDEX IF EXISTS public."IX_Follows_CreatedAt";
DROP INDEX IF EXISTS public."IX_Comments_UserId";
DROP INDEX IF EXISTS public."IX_Comments_PostId";
DROP INDEX IF EXISTS public."IX_Comments_ParentCommentId";
DROP INDEX IF EXISTS public."IX_Comments_CreatedAt";
ALTER TABLE IF EXISTS ONLY public."__EFMigrationsHistory" DROP CONSTRAINT IF EXISTS "PK___EFMigrationsHistory";
ALTER TABLE IF EXISTS ONLY public."Posts" DROP CONSTRAINT IF EXISTS "PK_Posts";
ALTER TABLE IF EXISTS ONLY public."Likes" DROP CONSTRAINT IF EXISTS "PK_Likes";
ALTER TABLE IF EXISTS ONLY public."Groups" DROP CONSTRAINT IF EXISTS "PK_Groups";
ALTER TABLE IF EXISTS ONLY public."GroupPosts" DROP CONSTRAINT IF EXISTS "PK_GroupPosts";
ALTER TABLE IF EXISTS ONLY public."GroupMembers" DROP CONSTRAINT IF EXISTS "PK_GroupMembers";
ALTER TABLE IF EXISTS ONLY public."Follows" DROP CONSTRAINT IF EXISTS "PK_Follows";
ALTER TABLE IF EXISTS ONLY public."Comments" DROP CONSTRAINT IF EXISTS "PK_Comments";
DROP TABLE IF EXISTS public."__EFMigrationsHistory";
DROP TABLE IF EXISTS public."Posts";
DROP TABLE IF EXISTS public."Likes";
DROP TABLE IF EXISTS public."Groups";
DROP TABLE IF EXISTS public."GroupPosts";
DROP TABLE IF EXISTS public."GroupMembers";
DROP TABLE IF EXISTS public."Follows";
DROP TABLE IF EXISTS public."Comments";
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Comments; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Comments" (
    "Id" uuid NOT NULL,
    "PostId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Content" character varying(2000) NOT NULL,
    "ParentCommentId" uuid,
    "LikesCount" integer NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Comments" OWNER TO admin_officer;

--
-- Name: Follows; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Follows" (
    "Id" uuid NOT NULL,
    "FollowerId" uuid NOT NULL,
    "FollowingId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT "CK_Follow_NotSelf" CHECK (("FollowerId" <> "FollowingId"))
);


ALTER TABLE public."Follows" OWNER TO admin_officer;

--
-- Name: GroupMembers; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."GroupMembers" (
    "Id" uuid NOT NULL,
    "GroupId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Role" character varying(50) NOT NULL,
    "IsActive" boolean NOT NULL,
    "JoinedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."GroupMembers" OWNER TO admin_officer;

--
-- Name: GroupPosts; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."GroupPosts" (
    "Id" uuid NOT NULL,
    "GroupId" uuid NOT NULL,
    "PostId" uuid NOT NULL,
    "IsPinned" boolean NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GroupPosts" OWNER TO admin_officer;

--
-- Name: Groups; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Groups" (
    "Id" uuid NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Description" character varying(500),
    "OwnerId" uuid NOT NULL,
    "AvatarUrl" character varying(255),
    "CoverImageUrl" character varying(255),
    "IsPublic" boolean NOT NULL,
    "IsActive" boolean NOT NULL,
    "MembersCount" integer NOT NULL,
    "PostsCount" integer NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Groups" OWNER TO admin_officer;

--
-- Name: Likes; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Likes" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "PostId" uuid,
    "CommentId" uuid,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT "CK_Like_PostOrComment" CHECK (((("PostId" IS NOT NULL) AND ("CommentId" IS NULL)) OR (("PostId" IS NULL) AND ("CommentId" IS NOT NULL))))
);


ALTER TABLE public."Likes" OWNER TO admin_officer;

--
-- Name: Posts; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Posts" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Content" character varying(5000) NOT NULL,
    "MediaUrls" text[] NOT NULL,
    "Hashtags" text[] NOT NULL,
    "Mentions" text[] NOT NULL,
    "Location" character varying(255),
    "IsPublic" boolean NOT NULL,
    "IsPinned" boolean NOT NULL,
    "LikesCount" integer NOT NULL,
    "CommentsCount" integer NOT NULL,
    "SharesCount" integer NOT NULL,
    "ViewsCount" integer NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "PollOptions" text[],
    "PollDuration" integer,
    "PollExpiresAt" timestamp with time zone
);


ALTER TABLE public."Posts" OWNER TO admin_officer;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO admin_officer;

--
-- Data for Name: Comments; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."Comments" ("Id", "PostId", "UserId", "Content", "ParentCommentId", "LikesCount", "CreatedAt", "UpdatedAt") FROM stdin;
a23ac359-2e43-41aa-ae46-67272cd66da3	3174b4e1-331d-4d72-818e-ec5e4f60fc42	4f8c8759-dfdc-423e-878e-c68036140114	Great post! Looking forward to more content from you. 	\N	0	2025-09-11 12:38:57.247658+03	2025-09-11 12:38:57.247658+03
\.


--
-- Data for Name: Follows; Type: TABLE DATA; Schema: public; Owner: admin_officer
--



--
-- Data for Name: GroupMembers; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."GroupMembers" ("Id", "GroupId", "UserId", "Role", "IsActive", "JoinedAt") FROM stdin;
\.


--
-- Data for Name: GroupPosts; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."GroupPosts" ("Id", "GroupId", "PostId", "IsPinned", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Groups; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."Groups" ("Id", "Name", "Description", "OwnerId", "AvatarUrl", "CoverImageUrl", "IsPublic", "IsActive", "MembersCount", "PostsCount", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: Likes; Type: TABLE DATA; Schema: public; Owner: admin_officer
--



--
-- Data for Name: Posts; Type: TABLE DATA; Schema: public; Owner: admin_officer
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
\.


--
-- Name: Comments PK_Comments; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "PK_Comments" PRIMARY KEY ("Id");


--
-- Name: Follows PK_Follows; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Follows"
    ADD CONSTRAINT "PK_Follows" PRIMARY KEY ("Id");


--
-- Name: GroupMembers PK_GroupMembers; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."GroupMembers"
    ADD CONSTRAINT "PK_GroupMembers" PRIMARY KEY ("Id");


--
-- Name: GroupPosts PK_GroupPosts; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."GroupPosts"
    ADD CONSTRAINT "PK_GroupPosts" PRIMARY KEY ("Id");


--
-- Name: Groups PK_Groups; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Groups"
    ADD CONSTRAINT "PK_Groups" PRIMARY KEY ("Id");


--
-- Name: Likes PK_Likes; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Likes"
    ADD CONSTRAINT "PK_Likes" PRIMARY KEY ("Id");


--
-- Name: Posts PK_Posts; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "PK_Posts" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Comments_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_CreatedAt" ON public."Comments" USING btree ("CreatedAt");


--
-- Name: IX_Comments_ParentCommentId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_ParentCommentId" ON public."Comments" USING btree ("ParentCommentId");


--
-- Name: IX_Comments_PostId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_PostId" ON public."Comments" USING btree ("PostId");


--
-- Name: IX_Comments_UserId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_UserId" ON public."Comments" USING btree ("UserId");


--
-- Name: IX_Follows_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Follows_CreatedAt" ON public."Follows" USING btree ("CreatedAt");


--
-- Name: IX_Follows_FollowerId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Follows_FollowerId" ON public."Follows" USING btree ("FollowerId");


--
-- Name: IX_Follows_FollowerId_FollowingId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE UNIQUE INDEX "IX_Follows_FollowerId_FollowingId" ON public."Follows" USING btree ("FollowerId", "FollowingId");


--
-- Name: IX_Follows_FollowingId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Follows_FollowingId" ON public."Follows" USING btree ("FollowingId");


--
-- Name: IX_GroupMembers_GroupId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_GroupMembers_GroupId" ON public."GroupMembers" USING btree ("GroupId");


--
-- Name: IX_GroupMembers_GroupId_UserId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE UNIQUE INDEX "IX_GroupMembers_GroupId_UserId" ON public."GroupMembers" USING btree ("GroupId", "UserId");


--
-- Name: IX_GroupMembers_Role; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_GroupMembers_Role" ON public."GroupMembers" USING btree ("Role");


--
-- Name: IX_GroupMembers_UserId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_GroupMembers_UserId" ON public."GroupMembers" USING btree ("UserId");


--
-- Name: IX_GroupPosts_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_GroupPosts_CreatedAt" ON public."GroupPosts" USING btree ("CreatedAt");


--
-- Name: IX_GroupPosts_GroupId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_GroupPosts_GroupId" ON public."GroupPosts" USING btree ("GroupId");


--
-- Name: IX_GroupPosts_GroupId_PostId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE UNIQUE INDEX "IX_GroupPosts_GroupId_PostId" ON public."GroupPosts" USING btree ("GroupId", "PostId");


--
-- Name: IX_GroupPosts_PostId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_GroupPosts_PostId" ON public."GroupPosts" USING btree ("PostId");


--
-- Name: IX_Groups_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Groups_CreatedAt" ON public."Groups" USING btree ("CreatedAt");


--
-- Name: IX_Groups_IsActive; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Groups_IsActive" ON public."Groups" USING btree ("IsActive");


--
-- Name: IX_Groups_IsPublic; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Groups_IsPublic" ON public."Groups" USING btree ("IsPublic");


--
-- Name: IX_Groups_OwnerId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Groups_OwnerId" ON public."Groups" USING btree ("OwnerId");


--
-- Name: IX_Likes_CommentId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Likes_CommentId" ON public."Likes" USING btree ("CommentId");


--
-- Name: IX_Likes_PostId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Likes_PostId" ON public."Likes" USING btree ("PostId");


--
-- Name: IX_Likes_UserId_CommentId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE UNIQUE INDEX "IX_Likes_UserId_CommentId" ON public."Likes" USING btree ("UserId", "CommentId") WHERE ("CommentId" IS NOT NULL);


--
-- Name: IX_Likes_UserId_PostId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE UNIQUE INDEX "IX_Likes_UserId_PostId" ON public."Likes" USING btree ("UserId", "PostId") WHERE ("PostId" IS NOT NULL);


--
-- Name: IX_Posts_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_CreatedAt" ON public."Posts" USING btree ("CreatedAt");


--
-- Name: IX_Posts_Hashtags; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_Hashtags" ON public."Posts" USING gin ("Hashtags");


--
-- Name: IX_Posts_IsPinned; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_IsPinned" ON public."Posts" USING btree ("IsPinned");


--
-- Name: IX_Posts_IsPublic; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_IsPublic" ON public."Posts" USING btree ("IsPublic");


--
-- Name: IX_Posts_UserId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_UserId" ON public."Posts" USING btree ("UserId");


--
-- Name: Comments FK_Comments_Comments_ParentCommentId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_Comments_ParentCommentId" FOREIGN KEY ("ParentCommentId") REFERENCES public."Comments"("Id") ON DELETE CASCADE;


--
-- Name: Comments FK_Comments_Posts_PostId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_Posts_PostId" FOREIGN KEY ("PostId") REFERENCES public."Posts"("Id") ON DELETE CASCADE;


--
-- Name: GroupMembers FK_GroupMembers_Groups_GroupId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."GroupMembers"
    ADD CONSTRAINT "FK_GroupMembers_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES public."Groups"("Id") ON DELETE CASCADE;


--
-- Name: GroupPosts FK_GroupPosts_Groups_GroupId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."GroupPosts"
    ADD CONSTRAINT "FK_GroupPosts_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES public."Groups"("Id") ON DELETE CASCADE;


--
-- Name: GroupPosts FK_GroupPosts_Posts_PostId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."GroupPosts"
    ADD CONSTRAINT "FK_GroupPosts_Posts_PostId" FOREIGN KEY ("PostId") REFERENCES public."Posts"("Id") ON DELETE CASCADE;


--
-- Name: Likes FK_Likes_Comments_CommentId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Likes"
    ADD CONSTRAINT "FK_Likes_Comments_CommentId" FOREIGN KEY ("CommentId") REFERENCES public."Comments"("Id") ON DELETE CASCADE;


--
-- Name: Likes FK_Likes_Posts_PostId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Likes"
    ADD CONSTRAINT "FK_Likes_Posts_PostId" FOREIGN KEY ("PostId") REFERENCES public."Posts"("Id") ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO admin_officer;


--
-- PostgreSQL database dump complete
--

\unrestrict VTmm3BmB5vXZz7UDpLwMbqc4b0PvnRTTv1bEW6qzphQiaqhdySWQlo6YczYk8yo

