--
-- PostgreSQL database dump
--

\restrict wKufFNPzcyUhosz2czdZuGyfLhdPLycxk6XtiqfC0gh7foHbpzujBfn0Ag5gpAP

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Comments; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Comments" (
    "Id" uuid NOT NULL,
    "PostId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Content" character varying(2000) NOT NULL,
    "ParentCommentId" uuid,
    "LikesCount" integer DEFAULT 0 NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Comments" OWNER TO admin_officer;

--
-- Name: Follows; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Follows" (
    "Id" uuid NOT NULL,
    "FollowerId" uuid NOT NULL,
    "FollowingId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT "CK_Follow_NotSelf" CHECK (("FollowerId" <> "FollowingId"))
);


ALTER TABLE public."Follows" OWNER TO admin_officer;

--
-- Name: Likes; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Likes" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "PostId" uuid,
    "CommentId" uuid,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT "CK_Like_PostOrComment" CHECK (((("PostId" IS NOT NULL) AND ("CommentId" IS NULL)) OR (("PostId" IS NULL) AND ("CommentId" IS NOT NULL))))
);


ALTER TABLE public."Likes" OWNER TO admin_officer;

--
-- Name: Posts; Type: TABLE; Schema: public; Owner: admin_officer
--

CREATE TABLE public."Posts" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Content" character varying(5000) NOT NULL,
    "MediaUrls" text[] DEFAULT '{}'::text[] NOT NULL,
    "Hashtags" text[] DEFAULT '{}'::text[] NOT NULL,
    "Mentions" text[] DEFAULT '{}'::text[] NOT NULL,
    "Location" character varying(255),
    "PostType" character varying(50) DEFAULT 'text'::character varying NOT NULL,
    "IsPublic" boolean DEFAULT true NOT NULL,
    "IsPinned" boolean DEFAULT false NOT NULL,
    "PollOptions" text[] DEFAULT '{}'::text[],
    "PollDuration" integer,
    "PollExpiresAt" timestamp with time zone,
    "LikesCount" integer DEFAULT 0 NOT NULL,
    "CommentsCount" integer DEFAULT 0 NOT NULL,
    "SharesCount" integer DEFAULT 0 NOT NULL,
    "ViewsCount" integer DEFAULT 0 NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Posts" OWNER TO admin_officer;

--
-- Data for Name: Comments; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."Comments" ("Id", "PostId", "UserId", "Content", "ParentCommentId", "LikesCount", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: Follows; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."Follows" ("Id", "FollowerId", "FollowingId", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Likes; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."Likes" ("Id", "UserId", "PostId", "CommentId", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Posts; Type: TABLE DATA; Schema: public; Owner: admin_officer
--

COPY public."Posts" ("Id", "UserId", "Content", "MediaUrls", "Hashtags", "Mentions", "Location", "PostType", "IsPublic", "IsPinned", "PollOptions", "PollDuration", "PollExpiresAt", "LikesCount", "CommentsCount", "SharesCount", "ViewsCount", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Name: Comments PK_Comments; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "PK_Comments" PRIMARY KEY ("Id");


--
-- Name: Follows PK_Follows; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Follows"
    ADD CONSTRAINT "PK_Follows" PRIMARY KEY ("Id");


--
-- Name: Likes PK_Likes; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Likes"
    ADD CONSTRAINT "PK_Likes" PRIMARY KEY ("Id");


--
-- Name: Posts PK_Posts; Type: CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "PK_Posts" PRIMARY KEY ("Id");


--
-- Name: IX_Comments_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_CreatedAt" ON public."Comments" USING btree ("CreatedAt");


--
-- Name: IX_Comments_ParentCommentId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_ParentCommentId" ON public."Comments" USING btree ("ParentCommentId");


--
-- Name: IX_Comments_PostId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_PostId" ON public."Comments" USING btree ("PostId");


--
-- Name: IX_Comments_UserId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Comments_UserId" ON public."Comments" USING btree ("UserId");


--
-- Name: IX_Follows_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Follows_CreatedAt" ON public."Follows" USING btree ("CreatedAt");


--
-- Name: IX_Follows_FollowerId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Follows_FollowerId" ON public."Follows" USING btree ("FollowerId");


--
-- Name: IX_Follows_FollowingId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Follows_FollowingId" ON public."Follows" USING btree ("FollowingId");


--
-- Name: IX_Likes_CommentId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Likes_CommentId" ON public."Likes" USING btree ("CommentId");


--
-- Name: IX_Likes_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Likes_CreatedAt" ON public."Likes" USING btree ("CreatedAt");


--
-- Name: IX_Likes_PostId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Likes_PostId" ON public."Likes" USING btree ("PostId");


--
-- Name: IX_Likes_UserId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Likes_UserId" ON public."Likes" USING btree ("UserId");


--
-- Name: IX_Posts_CreatedAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_CreatedAt" ON public."Posts" USING btree ("CreatedAt");


--
-- Name: IX_Posts_Hashtags; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_Hashtags" ON public."Posts" USING gin ("Hashtags");


--
-- Name: IX_Posts_IsPinned; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_IsPinned" ON public."Posts" USING btree ("IsPinned");


--
-- Name: IX_Posts_IsPublic; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_IsPublic" ON public."Posts" USING btree ("IsPublic");


--
-- Name: IX_Posts_PollExpiresAt; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_PollExpiresAt" ON public."Posts" USING btree ("PollExpiresAt");


--
-- Name: IX_Posts_PollOptions; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_PollOptions" ON public."Posts" USING gin ("PollOptions");


--
-- Name: IX_Posts_PostType; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_PostType" ON public."Posts" USING btree ("PostType");


--
-- Name: IX_Posts_UserId; Type: INDEX; Schema: public; Owner: admin_officer
--

CREATE INDEX "IX_Posts_UserId" ON public."Posts" USING btree ("UserId");


--
-- Name: Comments FK_Comments_Comments_ParentCommentId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_Comments_ParentCommentId" FOREIGN KEY ("ParentCommentId") REFERENCES public."Comments"("Id") ON DELETE CASCADE;


--
-- Name: Comments FK_Comments_Posts_PostId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_Posts_PostId" FOREIGN KEY ("PostId") REFERENCES public."Posts"("Id") ON DELETE CASCADE;


--
-- Name: Likes FK_Likes_Comments_CommentId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Likes"
    ADD CONSTRAINT "FK_Likes_Comments_CommentId" FOREIGN KEY ("CommentId") REFERENCES public."Comments"("Id") ON DELETE CASCADE;


--
-- Name: Likes FK_Likes_Posts_PostId; Type: FK CONSTRAINT; Schema: public; Owner: admin_officer
--

ALTER TABLE ONLY public."Likes"
    ADD CONSTRAINT "FK_Likes_Posts_PostId" FOREIGN KEY ("PostId") REFERENCES public."Posts"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict wKufFNPzcyUhosz2czdZuGyfLhdPLycxk6XtiqfC0gh7foHbpzujBfn0Ag5gpAP

