/* Decrease input field size */
.mat-form-field {
    font-size: 12px !important; /* Adjust the font size as needed */
  }
  .mat {
    font-size: 12px !important;
    color: red !important;
  }
  /* Decrease button size */
  .mat-button {
    font-size: 12px !important; /* Adjust the font size as needed */
  }
  
  /* Decrease checkbox and radio button size */
  .mat-checkbox-label, .mat-radio-label {
    font-size: 12px !important; /* Adjust the font size as needed */
  }
  
  /* Decrease select dropdown size */
  .mat-select-panel {
    font-size: 12px !important; /* Adjust the font size as needed */
  }