/* Container layout */
.container-layout {
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the content horizontally */
   
  }
  
  /* Fluid layout */
  .fluid-layout {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
  }
  .registration-container {
    display: flex;
    flex-direction: row;
  }
  
  .registration-options {
    display: flex;
    margin-bottom: 10px;
  }
  
  .registration-options button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  
  .registration-options .active {
    background-color: #13d862;
    color: red;
    height: 40px;
    padding-top: 5px;
  }
  
  .registration-form {
   
    
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form h2 {
    text-align: center;
  }
  
  .registration-form  {
    margin-bottom: 10px;
    
  }

  .form-group{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
  .registration-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-form button {
    width: 100%;
    background-color: #F1DA32;
    color: #dbe60d;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .registration-form button:hover {
    background-color: #e72f2f;
  }

.custom-text {
  color: #ffffff;
  
}

  .left-half {
    flex: 1;
    width: 40%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display:block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    grid-column: 1;
  }
  
  .right-half {
    flex: 1;
    width: 60%;
    grid-column: 2;
    height: 100vh;
    background-color: #6E31A6;
    padding: 20px;
  }
  
  .one-third {
    height: 20vh;
    text-align: center;
    font-size: xx-large;
    
  }

  .two-third {
    height: 40vh;
    padding-right: 10px;
  }

  .three-third {
    height: 30vh;
    text-align: center;
    font-size: xx-large;
   
  }
  .columnOne {
    flex: 1;
    width: 50%;
  }
  .columnTwo {
    flex: 1;
    width: 50%;
  }
  .month{
    width: 50%;
  }
  .day{
    width: 20%;
  }
  .year{
    width: 30%;
  }
  @media (max-width: 768px) {
    .container-layout {
      width: 100%;
    }
    .registration-container {
      flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .left-half {
      display: none;
    }

    .right-half {
      width: 100%;
    }
  }