<section>
  <div [ngClass]="{'container-layout' : isContainerLayout, 'fluid-layout' : !isContainerLayout}">

    <div class="registration-container" [class.rtl]="isRtlLayout">
      <!--Image-->
      <div class="left-half">
        <div class="one-third">

        </div>
        <div class="two-third">
          <img src="./../../../../assets/logo-innkt.svg" class="img-fluid" alt="Register Image">

        </div>
        <div class="three-third">
          <p>{{ 'home.welcome' | translate }}</p>

        </div>



      </div>


      <div class="right-half">
        <h2 class="custom-text">{{ 'reg_controls_names.registration' | translate }}</h2>

        <div class="registration-options">
          <button (click)="setRegistrationType('single')" [class.active]="registrationType === 'single'">
            <h2 class="custom-text">{{ 'reg_controls_names.single' | translate }}</h2>
          </button>
          <button (click)="setRegistrationType('joint')" [class.active]="registrationType === 'joint'">
            <h2 class="custom-text">{{ 'reg_controls_names.joint' | translate }}</h2>
          </button>
        </div>

        <div class="single">
          <form [formGroup]="registrationForm" *ngIf="registrationType === 'single'" (ngSubmit)="onSubmit()">
            <div class="form-group form-outline flex-fill mb-0">
              <div class="columnOne form-outline flex-fill mb-0">
                <mat-form-field appearance="fill" class="form-outline flex-fill mb-0">
                  <mat-label>{{ 'placeholders.firstname' | translate }}</mat-label>
                  <input matInput formControlName="firstname" placeholder="{{ 'placeholders.firstname' | translate }}"
                    required />
                  <mat-error *ngIf="registrationForm.get('firstname')?.hasError('required')">
                    {{ 'errors.required' | translate }}
                  </mat-error>
                  <mat-error *ngIf="registrationForm.get('firstname')?.hasError('pattern')">
                    {{ 'errors.namePattern' | translate }}
                  </mat-error>
                  <mat-error *ngIf="registrationForm.get('firstname')?.hasError('minlength')">
                    {{ 'errors.minlength' | translate }}
                  </mat-error>
                  <mat-error *ngIf="registrationForm.get('firstname')?.hasError('maxlength')">
                    {{ 'errors.maxlength' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="columnTwo form-outline flex-fill mb-0">
                <mat-form-field appearance="fill" class="form-outline flex-fill mb-0">
                  <mat-label>{{ 'placeholders.lastname' | translate }}</mat-label>
                  <input matInput formControlName="lastname" placeholder="{{ 'placeholders.lastname' | translate }}"
                    required />
                    <mat-error *ngIf="registrationForm.get('lastname')?.hasError('required')">
                      {{ 'errors.required' | translate }}
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('lastname')?.hasError('pattern')">
                      {{ 'errors.namePattern' | translate }}
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('lastname')?.hasError('minlength')">
                      {{ 'errors.minlength' | translate }}
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('lastname')?.hasError('maxlength')">
                      {{ 'errors.maxlength' | translate }}
                    </mat-error>
                </mat-form-field>
              </div>



            </div>
            <div class="form-group">
              <div class="month form-outline flex-fill mb-0">
                <!-- Month Dropdown -->
                <mat-form-field appearance="fill" class="form-outline flex-fill mb-0">
                  <mat-label>{{ 'placeholders.birthdate' | translate }}</mat-label>
                  <mat-select formControlName="birthMonth" required>
                    <mat-option *ngFor="let month of months; let i = index" [value]="i + 1"> {{ month
                      }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="birthMonth?.hasError('required')">
                    {{ 'errors.required' | translate }}
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="day form-outline flex-fill mb-0">
                <!-- Day Dropdown -->
                <mat-form-field appearance="fill" class="form-outline flex-fill mb-0">
                  <mat-select formControlName="birthDay" required>
                    <mat-option *ngFor="let day of days" [value]="day">{{ day }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="birthDay?.hasError('required')">
                    {{ 'errors.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="year form-outline flex-fill mb-0">
                <!-- Year Dropdown -->
                <mat-form-field appearance="fill" class="form-outline flex-fill mb-0">

                  <mat-select formControlName="birthYear" required>
                    <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="birthYear?.hasError('required')">
                    {{ 'errors.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

            </div>

            <div class="rowThree form-group">
              <!-- country Dropdown -->
              <div class="country form-outline flex-fill mb-0">
                <mat-form-field class="form-outline flex-fill mb-0">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="selectedCountry" (selectionChange)="onCountrySelectionChange($event)">
                    <mat-option *ngFor="let country of countries" [value]="country.code">
                      <img [src]="'assets/countries/svg/' + country.flag" alt="{{ country.name }} Flag" width="20"
                        height="15">
                      {{ country.name }} ({{ country.dial_code }})
                    </mat-option>
                  </mat-select>
                </mat-form-field>


              </div>

              <div class="phone form-outline flex-fill mb-0">
                <!-- phone number input -->
                <mat-form-field class=" form-outline flex-fill mb-0">
                  <input matInput placeholder="{{ 'placeholders.mobilephone' | translate}}"
                    formControlName="mobilePhone" type="tel" required />
                  <mat-error *ngIf="registrationForm.get('mobilePhone')?.hasError('required')">
                    {{ 'errors.mobilephoneRequired' | translate}}
                  </mat-error>
                  <mat-error *ngIf="registrationForm.get('mobilePhone')?.hasError('pattern')">
                    {{ 'errors.mobilePhoneNotValid' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="radio form-outline flex-fill mb-0">
                <div class="rowOne">
                  <label class="gender custom-text form-outline flex-fill mb-0">{{ 'reg_controls_names.gender' |
                    translate}}:</label>
                </div>
                <div class="radio-buttons">
                  <!-- radio -->
                  <mat-radio-group formControlName="gender" class="form-outline flex-fill mb-0">
                    <mat-radio-button *ngFor="let gender of genders | keyvalue" [value]="gender"
                      class="custom-radio form-outline flex-fill mb-0">
                      <label class="custom-text">{{ gender.value}}</label>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>

            <div class="email form-group form-outline flex-fill mb-0">
              <div class="columnOne form-outline flex-fill mb-0">
                <!-- email input -->
                <mat-form-field appearance="fill" class="form-outline flex-fill mb-0">
                  <mat-label>{{ 'placeholders.email' | translate }}</mat-label>
                  <input matInput formControlName="email" placeholder="{{ 'placeholders.email' | translate }}"
                    required />
                  <mat-error *ngIf="email?.hasError('required')">
                    {{ 'errors.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- Confirmation Password input -->
            <div class="form-group form-group form-outline flex-fill mb-0">
              <div class="columnOne form-outline flex-fill mb-0">
                <!-- email input -->
                <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
                  <mat-label class="form-label" for="confirmPassword">
                    {{'placeholders.password' | translate}}
                  </mat-label>
                  <input matInput type="password" id="password" placeholder="Enter password"
                    formControlName="password" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'"
                    name="password" required />
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>              
                  <mat-error *ngIf=" password?.hasError('required')">
                    Password confirmation is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="columnTwo form-outline flex-fill mb-0">
                <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
                  <mat-label class="form-label" for="confirmPassword">
                    {{'placeholders.confirmPassword' | translate}}
                  </mat-label>
                  <input matInput type="password" id="confirmPassword" placeholder="Enter password"
                    formControlName="confirmPassword" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'"
                    name="confirmPassword" required />
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="confirmPassword?.hasError('passwordMismatch')">
                    Password does not match
                  </mat-error>
                  <mat-error *ngIf=" confirmPassword?.hasError('required')">
                    Password confirmation is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>    
            </div>
      


            <!--Register Button-->
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button mat-raised-button type="submit" color="primary" class="btn btn-primary btn-lg btn-block">
                Register
              </button>
            </div>
          </form>
        </div>

        <form [formGroup]="registrationForm" *ngIf="registrationType === 'joint'" (ngSubmit)="onSubmit()">
          <input placeholder="First Name" formControlName="firstname" required>
          <input placeholder="Last Name" formControlName="lastname" required>

          <div class="form-group">
            <label>Gender:</label>
            <mat-radio-group formControlName="gender">
              <mat-radio-button *ngFor="let gender of genders" [value]="gender">
                {{ gender | titlecase }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Mobile Phone Number" formControlName="mobilePhone" type="tel" />
              <mat-error *ngIf="registrationForm.get('mobilePhone')?.hasError('required')">
                Mobile phone number is required.
              </mat-error>
              <mat-error *ngIf="registrationForm.get('mobilePhone')?.hasError('pattern')">
                Please enter a valid mobile phone number.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="birthdatepicker" formControlName="birthdate">
              <mat-datepicker-toggle matSuffix [for]="birthdatepicker"></mat-datepicker-toggle>
              <mat-datepicker #birthdatepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <input placeholder="Email" type="email" formControlName="email" required>
          <input placeholder="Password" type="password" formControlName="password" required>
          <input placeholder="Confirm Password" type="password" formControlName="confirmPassword" required>

          <input placeholder="First Name (Joint User)" formControlName="firstnameJoint" required>
          <input placeholder="Last Name (Joint User)" formControlName="lastnameJoint" required>

          <div class="form-group">
            <label>Gender:</label>
            <mat-radio-group formControlName="genderJoint">
              <mat-radio-button *ngFor="let gender of genders" [value]="gender">
                {{ gender | titlecase }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Mobile Phone Number (Joint User)" formControlName="mobilePhoneJoint"
                type="tel" />
              <mat-error *ngIf="registrationForm.get('mobilePhoneJoint')?.hasError('required')">
                Mobile phone number is required.
              </mat-error>
              <mat-error *ngIf="registrationForm.get('mobilePhoneJoint')?.hasError('pattern')">
                Please enter a valid mobile phone number.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Date of Birth (Joint User)</mat-label>
              <input matInput [matDatepicker]="birthdatejointpicker" formControlName="birthdateJoint">
              <mat-datepicker-toggle matSuffix [for]="birthdatejointpicker"></mat-datepicker-toggle>
              <mat-datepicker #birthdatejointpicker></mat-datepicker>
            </mat-form-field>
          </div>

          <label>
            Use same email and password for both accounts?
            <input type="checkbox" [checked]="isSameCredentialsChecked" (change)="onCheckboxChange($event)">
          </label>
          <div class="form-group" [hidden]="isSameCredentialsChecked">
            <input placeholder="Email (Joint User)" type="email" formControlName="emailJoint">
          </div>
          <div class="form-group" [hidden]="isSameCredentialsChecked">
            <input placeholder="Password (Joint User)" type="password" formControlName="passwordJoint">
            <input placeholder="Confirm Password (Joint User)" type="password" formControlName="confirmPasswordJoint"
              required>
          </div>

          <!--Register Button-->
          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button mat-raised-button type="submit" color="primary" class="btn btn-primary btn-lg btn-block">
              Register
            </button>
          </div>

        </form>

      </div>




    </div>




  </div>
</section>