<mat-toolbar color="primary" class="page-container">
  <mat-toolbar-row 
    [ngClass]="{'container-layout' : isContainerLayout, 'fluid-layout' : (!isContainerLayout && isLoggedIn)}">


    <div class="left-logo-container">
      <a routerLink="/left-logo">
        <img src="./../assets/logo/innkt-logo-text-white.svg" alt="Left Logo" class="left-logo" />
      </a>
    </div>
    
    <div class="logo-container">
      <a routerLink="/home">
        <img src="./../assets/logo/innkt-logo-dots-white.svg" alt="Logo" class="logo-dots" />
      </a>
    </div>
    <span class="spacer"></span>

    <button mat-icon-button [ngClass]="{ 'active': hamburgerOpen }" id="nav_check" (click)="toggleMenu()" *ngIf="isSmallScreen">
      <mat-icon>{{ hamburgerOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
    <nav>
      <ng-container *ngIf="!isLoggedIn">
      <ul >
    
        <li>
          <a href="/SignIn" class="active" routerLink="/SignIn" mat-button>Login</a>
        </li> 
        <li>
          <a href=""  routerLink="/SignUp" mat-button>Sign Up</a> 
        </li> 
      </ul>
      </ng-container>

      <ng-container  *ngIf="isLoggedIn">
        <ul>
    
          <li>
            <a class="menu-item" class="active" routerLink="/profile" mat-button>Profile</a>
          </li> 
          <li>
            <a class="menu-item" routerLink="/home" mat-button>Home</a>
          </li> 
          <li>
            <a>
              <mat-form-field appearance="fill" class="search-field">
                <input matInput placeholder="Search" />
              </mat-form-field>
              <button mat-icon-button type="submit">
                <mat-icon>search</mat-icon>
              </button>
            </a>
          </li> 
        </ul>
      </ng-container>
      
    </nav>

    <label for="nav_check" class="hamburger">
     
    </label>  

    
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
 
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>