<section class="wrapper">
    <div class="container">
      <div class="grid-cols-2">
        <div class="grid-item-1">
          <h1 class="main-heading">
            Welcome to <span>innkt</span>
           
          </h1>
          <p class="info-text">
            
          </p>
  
  
          <div class="btn_wrapper">
            <a href="https://www.linkedin.com/in/attia-imeed/recent-activity/all/" class="btn view_more_btn">
              view all Posts
            </a>
  
  
            <button class="btn documentation_btn"><a href="mailto:attia.imeed@gmail.com">Contact Me</a></button>
          </div>
        </div>
        <div class="grid-item-2">
          <div class="logo">
            <img src="./../../../../assets/logo-innkt.svg"  />
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  