Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "Groups" (
        "Id" uuid NOT NULL,
        "Name" character varying(100) NOT NULL,
        "Description" character varying(1000),
        "AvatarUrl" character varying(500),
        "CoverImageUrl" character varying(500),
        "OwnerId" uuid NOT NULL,
        "IsPublic" boolean NOT NULL,
        "IsVerified" boolean NOT NULL,
        "MembersCount" integer NOT NULL,
        "PostsCount" integer NOT NULL,
        "GroupType" character varying(20) NOT NULL,
        "Category" character varying(50),
        "InstitutionName" character varying(100),
        "GradeLevel" character varying(20),
        "IsKidFriendly" boolean NOT NULL,
        "AllowParentParticipation" boolean NOT NULL,
        "RequireParentApproval" boolean NOT NULL,
        "Tags" text[] NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_Groups" PRIMARY KEY ("Id"),
        CONSTRAINT "CK_Group_GroupType" CHECK ("GroupType" IN ('general', 'educational', 'family'))
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupDocumentations" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "Content" text NOT NULL,
        "Title" character varying(100) NOT NULL,
        "Description" character varying(500),
        "Category" character varying(50) NOT NULL,
        "CreatedBy" uuid NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "GroupId1" uuid,
        CONSTRAINT "PK_GroupDocumentations" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupDocumentations_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_GroupDocumentations_Groups_GroupId1" FOREIGN KEY ("GroupId1") REFERENCES "Groups" ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupInvitations" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "InvitedUserId" uuid NOT NULL,
        "InvitedByUserId" uuid NOT NULL,
        "Message" character varying(500),
        "Status" character varying(20) NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "RespondedAt" timestamp with time zone,
        "ExpiresAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_GroupInvitations" PRIMARY KEY ("Id"),
        CONSTRAINT "CK_GroupInvitation_Status" CHECK ("Status" IN ('pending', 'accepted', 'rejected', 'expired')),
        CONSTRAINT "FK_GroupInvitations_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupPosts" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "PostId" uuid NOT NULL,
        "UserId" uuid NOT NULL,
        "IsAnnouncement" boolean NOT NULL,
        "IsPinned" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_GroupPosts" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupPosts_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupRoles" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "Name" character varying(50) NOT NULL,
        "Alias" character varying(100),
        "Description" character varying(500),
        "ShowRealUsername" boolean NOT NULL,
        "CanCreateTopics" boolean NOT NULL,
        "CanManageMembers" boolean NOT NULL,
        "CanManageRoles" boolean NOT NULL,
        "CanManageSubgroups" boolean NOT NULL,
        "CanPostAnnouncements" boolean NOT NULL,
        "CanModerateContent" boolean NOT NULL,
        "CanAccessAllSubgroups" boolean NOT NULL,
        "CanUseGrokAI" boolean NOT NULL,
        "CanUsePerpetualPhotos" boolean NOT NULL,
        "CanUsePaperScanning" boolean NOT NULL,
        "CanManageFunds" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_GroupRoles" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupRoles_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupRules" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "Title" character varying(100) NOT NULL,
        "Description" character varying(500) NOT NULL,
        "Details" character varying(1000),
        "IsActive" boolean NOT NULL,
        "Order" integer NOT NULL,
        "Category" character varying(50),
        "CreatedBy" uuid NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_GroupRules" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupRules_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupSettings" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "AllowMemberPosts" boolean NOT NULL,
        "AllowMemberInvites" boolean NOT NULL,
        "RequireApprovalForPosts" boolean NOT NULL,
        "RequireApprovalForMembers" boolean NOT NULL,
        "AllowAnonymousPosts" boolean NOT NULL,
        "AllowFileSharing" boolean NOT NULL,
        "AllowReactions" boolean NOT NULL,
        "AllowComments" boolean NOT NULL,
        "MaxMembers" integer NOT NULL,
        "MaxPostLength" integer NOT NULL,
        "AllowKidPosts" boolean NOT NULL,
        "AllowKidVoting" boolean NOT NULL,
        "RequireParentApprovalForKidPosts" boolean NOT NULL,
        "AllowTeacherPosts" boolean NOT NULL,
        "AllowParentPosts" boolean NOT NULL,
        "EnableGrokAI" boolean NOT NULL,
        "EnablePerpetualPhotos" boolean NOT NULL,
        "EnablePaperScanning" boolean NOT NULL,
        "EnableHomeworkTracking" boolean NOT NULL,
        "EnableFundManagement" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "GroupId1" uuid,
        CONSTRAINT "PK_GroupSettings" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupSettings_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_GroupSettings_Groups_GroupId1" FOREIGN KEY ("GroupId1") REFERENCES "Groups" ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "Subgroups" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "Name" character varying(100) NOT NULL,
        "Description" character varying(500),
        "ParentSubgroupId" uuid,
        "Level" integer NOT NULL,
        "MembersCount" integer NOT NULL,
        "IsActive" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_Subgroups" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_Subgroups_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_Subgroups_Subgroups_ParentSubgroupId" FOREIGN KEY ("ParentSubgroupId") REFERENCES "Subgroups" ("Id") ON DELETE RESTRICT
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupMembers" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "UserId" uuid NOT NULL,
        "KidId" uuid,
        "ParentId" uuid,
        "Role" character varying(20) NOT NULL,
        "AssignedRoleId" uuid,
        "IsParentActingForKid" boolean NOT NULL,
        "CanPost" boolean NOT NULL,
        "CanVote" boolean NOT NULL,
        "CanComment" boolean NOT NULL,
        "CanInvite" boolean NOT NULL,
        "JoinedAt" timestamp with time zone NOT NULL,
        "LastSeenAt" timestamp with time zone,
        "IsActive" boolean NOT NULL,
        CONSTRAINT "PK_GroupMembers" PRIMARY KEY ("Id"),
        CONSTRAINT "CK_GroupMember_Role" CHECK ("Role" IN ('owner', 'admin', 'moderator', 'member')),
        CONSTRAINT "FK_GroupMembers_GroupRoles_AssignedRoleId" FOREIGN KEY ("AssignedRoleId") REFERENCES "GroupRoles" ("Id") ON DELETE SET NULL,
        CONSTRAINT "FK_GroupMembers_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "SubgroupRoles" (
        "Id" uuid NOT NULL,
        "SubgroupId" uuid NOT NULL,
        "RoleId" uuid NOT NULL,
        "CanWriteInTopics" boolean NOT NULL,
        "CanManageSubgroupMembers" boolean NOT NULL,
        "CanCreateSubgroupTopics" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_SubgroupRoles" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_SubgroupRoles_GroupRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "GroupRoles" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_SubgroupRoles_Subgroups_SubgroupId" FOREIGN KEY ("SubgroupId") REFERENCES "Subgroups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "Topics" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "SubgroupId" uuid,
        "Name" character varying(100) NOT NULL,
        "Description" character varying(1000),
        "Status" character varying(20) NOT NULL,
        "IsAnnouncementOnly" boolean NOT NULL,
        "AllowMemberPosts" boolean NOT NULL,
        "AllowKidPosts" boolean NOT NULL,
        "AllowParentPosts" boolean NOT NULL,
        "AllowRolePosts" boolean NOT NULL,
        "PostsCount" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "PausedAt" timestamp with time zone,
        "ArchivedAt" timestamp with time zone,
        CONSTRAINT "PK_Topics" PRIMARY KEY ("Id"),
        CONSTRAINT "CK_Topic_Status" CHECK ("Status" IN ('active', 'paused', 'archived')),
        CONSTRAINT "FK_Topics_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_Topics_Subgroups_SubgroupId" FOREIGN KEY ("SubgroupId") REFERENCES "Subgroups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "SubgroupMembers" (
        "Id" uuid NOT NULL,
        "SubgroupId" uuid NOT NULL,
        "GroupMemberId" uuid NOT NULL,
        "AssignedRoleId" uuid,
        "CanWrite" boolean NOT NULL,
        "CanManageMembers" boolean NOT NULL,
        "JoinedAt" timestamp with time zone NOT NULL,
        "IsActive" boolean NOT NULL,
        CONSTRAINT "PK_SubgroupMembers" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_SubgroupMembers_GroupMembers_GroupMemberId" FOREIGN KEY ("GroupMemberId") REFERENCES "GroupMembers" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_SubgroupMembers_GroupRoles_AssignedRoleId" FOREIGN KEY ("AssignedRoleId") REFERENCES "GroupRoles" ("Id") ON DELETE SET NULL,
        CONSTRAINT "FK_SubgroupMembers_Subgroups_SubgroupId" FOREIGN KEY ("SubgroupId") REFERENCES "Subgroups" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupFiles" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "TopicId" uuid,
        "FileName" character varying(255) NOT NULL,
        "FilePath" character varying(500) NOT NULL,
        "MimeType" character varying(100) NOT NULL,
        "FileSize" bigint NOT NULL,
        "FileCategory" character varying(50) NOT NULL,
        "Description" character varying(500),
        "UploadedBy" uuid NOT NULL,
        "KidId" uuid,
        "IsParentUploadingForKid" boolean NOT NULL,
        "IsPublic" boolean NOT NULL,
        "IsDownloadable" boolean NOT NULL,
        "DownloadCount" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_GroupFiles" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupFiles_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_GroupFiles_Topics_TopicId" FOREIGN KEY ("TopicId") REFERENCES "Topics" ("Id") ON DELETE SET NULL
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupPolls" (
        "Id" uuid NOT NULL,
        "GroupId" uuid NOT NULL,
        "TopicId" uuid,
        "Question" character varying(200) NOT NULL,
        "Options" text[] NOT NULL,
        "AllowMultipleVotes" boolean NOT NULL,
        "AllowKidVoting" boolean NOT NULL,
        "AllowParentVotingForKid" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        "ExpiresAt" timestamp with time zone NOT NULL,
        "IsActive" boolean NOT NULL,
        "TotalVotes" integer NOT NULL,
        CONSTRAINT "PK_GroupPolls" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupPolls_Groups_GroupId" FOREIGN KEY ("GroupId") REFERENCES "Groups" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_GroupPolls_Topics_TopicId" FOREIGN KEY ("TopicId") REFERENCES "Topics" ("Id") ON DELETE SET NULL
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "TopicPosts" (
        "Id" uuid NOT NULL,
        "TopicId" uuid NOT NULL,
        "PostId" uuid NOT NULL,
        "UserId" uuid NOT NULL,
        "KidId" uuid,
        "IsParentPostingForKid" boolean NOT NULL,
        "IsAnnouncement" boolean NOT NULL,
        "Content" character varying(2000) NOT NULL,
        "MediaUrls" text[],
        "Hashtags" text[],
        "Mentions" text[],
        "Location" character varying(100),
        "IsPinned" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_TopicPosts" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_TopicPosts_Topics_TopicId" FOREIGN KEY ("TopicId") REFERENCES "Topics" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "GroupFilePermissions" (
        "Id" uuid NOT NULL,
        "FileId" uuid NOT NULL,
        "Role" character varying(50) NOT NULL,
        "CanView" boolean NOT NULL,
        "CanDownload" boolean NOT NULL,
        "CanDelete" boolean NOT NULL,
        "CanEdit" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT "PK_GroupFilePermissions" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_GroupFilePermissions_GroupFiles_FileId" FOREIGN KEY ("FileId") REFERENCES "GroupFiles" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE TABLE "PollVotes" (
        "Id" uuid NOT NULL,
        "PollId" uuid NOT NULL,
        "UserId" uuid NOT NULL,
        "KidId" uuid,
        "IsParentVotingForKid" boolean NOT NULL,
        "SelectedOptionIndex" integer NOT NULL,
        "VotedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_PollVotes" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_PollVotes_GroupPolls_PollId" FOREIGN KEY ("PollId") REFERENCES "GroupPolls" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupDocumentations_Category" ON "GroupDocumentations" ("Category");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupDocumentations_CreatedAt" ON "GroupDocumentations" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupDocumentations_GroupId" ON "GroupDocumentations" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_GroupDocumentations_GroupId1" ON "GroupDocumentations" ("GroupId1");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFilePermissions_FileId" ON "GroupFilePermissions" ("FileId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_GroupFilePermissions_FileId_Role" ON "GroupFilePermissions" ("FileId", "Role");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFilePermissions_Role" ON "GroupFilePermissions" ("Role");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFiles_CreatedAt" ON "GroupFiles" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFiles_FileCategory" ON "GroupFiles" ("FileCategory");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFiles_GroupId" ON "GroupFiles" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFiles_GroupId_FileCategory" ON "GroupFiles" ("GroupId", "FileCategory");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFiles_TopicId" ON "GroupFiles" ("TopicId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupFiles_UploadedBy" ON "GroupFiles" ("UploadedBy");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupInvitations_CreatedAt" ON "GroupInvitations" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupInvitations_ExpiresAt" ON "GroupInvitations" ("ExpiresAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupInvitations_GroupId" ON "GroupInvitations" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupInvitations_InvitedByUserId" ON "GroupInvitations" ("InvitedByUserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupInvitations_InvitedUserId" ON "GroupInvitations" ("InvitedUserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupInvitations_Status" ON "GroupInvitations" ("Status");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupMembers_AssignedRoleId" ON "GroupMembers" ("AssignedRoleId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupMembers_GroupId" ON "GroupMembers" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_GroupMembers_GroupId_UserId" ON "GroupMembers" ("GroupId", "UserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupMembers_IsActive" ON "GroupMembers" ("IsActive");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupMembers_JoinedAt" ON "GroupMembers" ("JoinedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupMembers_Role" ON "GroupMembers" ("Role");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupMembers_UserId" ON "GroupMembers" ("UserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPolls_ExpiresAt" ON "GroupPolls" ("ExpiresAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPolls_GroupId" ON "GroupPolls" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPolls_IsActive" ON "GroupPolls" ("IsActive");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPolls_TopicId" ON "GroupPolls" ("TopicId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPosts_CreatedAt" ON "GroupPosts" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPosts_GroupId" ON "GroupPosts" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_GroupPosts_GroupId_PostId" ON "GroupPosts" ("GroupId", "PostId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPosts_IsAnnouncement" ON "GroupPosts" ("IsAnnouncement");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPosts_IsPinned" ON "GroupPosts" ("IsPinned");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPosts_PostId" ON "GroupPosts" ("PostId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupPosts_UserId" ON "GroupPosts" ("UserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupRoles_GroupId" ON "GroupRoles" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupRoles_Name" ON "GroupRoles" ("Name");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupRules_GroupId" ON "GroupRules" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupRules_GroupId_IsActive" ON "GroupRules" ("GroupId", "IsActive");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_GroupRules_GroupId_Order" ON "GroupRules" ("GroupId", "Order");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_Category" ON "Groups" ("Category");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_CreatedAt" ON "Groups" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_GroupType" ON "Groups" ("GroupType");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_IsKidFriendly" ON "Groups" ("IsKidFriendly");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_IsPublic" ON "Groups" ("IsPublic");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_IsVerified" ON "Groups" ("IsVerified");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_Name" ON "Groups" ("Name");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Groups_OwnerId" ON "Groups" ("OwnerId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_GroupSettings_GroupId" ON "GroupSettings" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_GroupSettings_GroupId1" ON "GroupSettings" ("GroupId1");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_PollVotes_PollId" ON "PollVotes" ("PollId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_PollVotes_PollId_UserId" ON "PollVotes" ("PollId", "UserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_PollVotes_UserId" ON "PollVotes" ("UserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_PollVotes_VotedAt" ON "PollVotes" ("VotedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_SubgroupMembers_AssignedRoleId" ON "SubgroupMembers" ("AssignedRoleId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_SubgroupMembers_GroupMemberId" ON "SubgroupMembers" ("GroupMemberId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_SubgroupMembers_SubgroupId" ON "SubgroupMembers" ("SubgroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_SubgroupMembers_SubgroupId_GroupMemberId" ON "SubgroupMembers" ("SubgroupId", "GroupMemberId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_SubgroupRoles_RoleId" ON "SubgroupRoles" ("RoleId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_SubgroupRoles_SubgroupId" ON "SubgroupRoles" ("SubgroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_SubgroupRoles_SubgroupId_RoleId" ON "SubgroupRoles" ("SubgroupId", "RoleId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Subgroups_GroupId" ON "Subgroups" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Subgroups_IsActive" ON "Subgroups" ("IsActive");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Subgroups_Level" ON "Subgroups" ("Level");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Subgroups_ParentSubgroupId" ON "Subgroups" ("ParentSubgroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_TopicPosts_CreatedAt" ON "TopicPosts" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_TopicPosts_PostId" ON "TopicPosts" ("PostId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_TopicPosts_TopicId" ON "TopicPosts" ("TopicId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE UNIQUE INDEX "IX_TopicPosts_TopicId_PostId" ON "TopicPosts" ("TopicId", "PostId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_TopicPosts_UserId" ON "TopicPosts" ("UserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Topics_CreatedAt" ON "Topics" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Topics_GroupId" ON "Topics" ("GroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Topics_Status" ON "Topics" ("Status");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    CREATE INDEX "IX_Topics_SubgroupId" ON "Topics" ("SubgroupId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250927204429_InitialCreate') THEN
    INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
    VALUES ('20250927204429_InitialCreate', '9.0.0');
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "Subgroups" ADD "Settings" text NOT NULL DEFAULT '';
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "GroupRoles" ADD "CanSeeRealUsername" boolean NOT NULL DEFAULT FALSE;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "GroupRoles" ADD "Permissions" text NOT NULL DEFAULT '';
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "GroupMembers" ADD "IsParentAccount" boolean NOT NULL DEFAULT FALSE;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "GroupMembers" ADD "KidAccountId" uuid;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "GroupMembers" ADD "RoleId" uuid;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "GroupMembers" ADD "SubgroupId" uuid;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    ALTER TABLE "GroupMembers" ADD "UpdatedAt" timestamp with time zone NOT NULL DEFAULT (CURRENT_TIMESTAMP);
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20250928183648_AddMissingGroupMemberProperties') THEN
    INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
    VALUES ('20250928183648_AddMissingGroupMemberProperties', '9.0.0');
    END IF;
END $EF$;
COMMIT;


